:root {
  --black: #18181b;
  --gray: #4b5563;
  --white: #f9fafb;
  --off-white: #e9eaeb;
  --link: royalblue;
  --link-visited: hsl(261, 45%, 43%);
  --h-pad: 1.5rem;
}

* {
  box-sizing: border-box;
}

html {
  /* this makes 1rem = 10px; I don't have a handy link for reference 😢 */
  font-size: 62.5%;
}

body {
  background: var(--white);
  color: var(--black);
  padding: 0 var(--h-pad);
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.6em;
  line-height: 1.45em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  margin-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul.people {
  font-family:
    'Inter Tight',
    Helvetica,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 700;
  line-height: 1.2em;
}

a {
  color: #00b7ff;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.width-2 {
  width: 2em;
}

.max-width-80 {
  max-width: 80%;
}

.items-center {
  align-items: center;
}

.margin-bottom {
  margin-bottom: 1em;
}

.small {
  font-size: 0.85em;
}

.block {
  display: block;
}

label {
  display: block;
}

input[type='text'] {
  display: block;
  font-size: 1.4em;
  line-height: 1.4em;
  padding: 0.25em 0.5em;
  border-radius: 2em;
  border: 1px solid var(--black);
  margin-top: 0.25em;
}

.meta-category {
  background: var(--gray);
  color: var(--white);
  margin: 0 calc(var(--h-pad) * -1);
  padding: 0.5em var(--h-pad);
  line-height: 1.5em;
}

ul.people {
  list-style: none;
  padding-left: 0;
}

ul.people li {
  margin-bottom: 0.2em;
  font-size: 1.6em;
  line-height: 1.2em;
}

ul.people li a {
  text-decoration: none;
  color: var(--black);
}

ul.people li small {
  font-size: 0.6em;
}

.error {
  /* this style doesn't change with dark mode; no need for vars */
  background: #e89787;
  color: #18181b;
  padding: 0.2em;
  border-radius: 0.2em;
}

button,
.button {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 2em;
  background: var(--gray);
  color: var(--white);
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

@supports (color-scheme: dark light) {
  @media screen and (prefers-color-scheme: dark) {
    :root {
      /* https://github.com/ericyd/loop-supreme/blob/bd22ed519dbf633d8ba67792f2fd6aa704d92f87/tailwind.config.js#L29-L31 */
      --black: #f9fafb;
      --white: #18181b;
      --gray: #a1a1aa;
      --off-white: #48484b;
      --link: #9e9eff;
      --link-visited: #d0adf0;
    }
  }
}
