<!DOCTYPE html>
<html>
  <head>
    <title>Oscars viewing party</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Oscars Viewing Party!</h1>
    <form method="post" action="/room">
      <label class="margin-bottom">
        Join or create a room
        <input type="text" name="roomId">
      </label>
      <button type="submit">Go!</button>
    </form>
    <br>
    <hr>
    <h2>Tips 'n tricks</h2>
    <ul>
      <li>Create a room to compare predictions with your friends</li>
      <li>Submit your Oscars predictions, and see how many you got right! Results will be updated live during the Oscars</li>
      <li>You can join multiple rooms, but its janky so you have to use Incognito or Private windows</li>
    </ul>
  </body>
</html>
